<ion-header>
  <ion-toolbar>
    <ion-title>agenda</ion-title>
    <ion-buttons>
      <ion-button href="/home/" color="success">Home</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let agendado of agenda">
      <ion-label>
        <h2>{{agendado.data}} {{agendado.hora}}</h2>
        <p>{{agendado.conteudo}}</p>
      </ion-label>
      <ion-icon slot="end" name="trash" (click)="apagar(agendado)"></ion-icon>
    </ion-item>
  </ion-list>

</ion-content>