<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Olá, {{usuario.nome}}</h1>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <img src="{{usuario.img_boletim}}" />
          <ion-card-header>
            <ion-button color="success" href="/boletim/">boletim</ion-button>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <img src="{{usuario.img_agenda}}" />
          <ion-card-header>
            <ion-button color="success" href="/agenda/">agenda</ion-button>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <img src="{{usuario.img_galeria}}" />
          <ion-card-header>
            <ion-card-title>galeria</ion-card-title>
            <ion-button color="success" href="/galeria/">galeria</ion-button>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <img src="{{usuario.img_chat}}" />
          <ion-card-header>
            <ion-card-title>chat</ion-card-title>
            <ion-button color="success" href="/chat/">chat</ion-button>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>